<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
  <%= error_messages_for @form %>
  <%= labelled_form_for :form, @form, :url => project_bx_category_path(@project, @category), :method => :put do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :form => @form } %>
    <%= f.submit l(:button_update) %>
    <%= link_to l(:button_cancel), project_bx_category_path(@project, @category) %>
  <% end %>
</div>
