<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="bx_category_box">
  <%= bx_category_title("bx.label.category.information") %>
  <dl class="bx_infomations">
    <dt><%= l("bx.label.category.name") %> :</dt>
    <dd><%= @category.name %></dd>
    <dt><%= l("bx.label.category.description") %> :</dt>
    <dd><%= hbr(@category.description) %></dd>
  </dl>
</div>

<div class="bx_category_box">
  <%= bx_category_title("bx.label.branch.list") %>
<% if @category.branches.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l("bx.label.branch.code") %></th>
        <th><%= l("bx.label.branch.name") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <% @category.branches.each do |branch| %>
      <tr>
        <td><%= branch.code %></td>
        <td><%= branch.name %></td>
        <td>
          <div class="contextual">
    <% if User.current.allowed_to?(:bx_manage_resources, @project) %>
          <%= link_to l(:button_edit), edit_project_bx_branch_path(@project, branch), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
          <%= delete_link project_bx_branch_path(@project, branch) %>
    <% end %>
          </div>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
<% if User.current.allowed_to?(:bx_manage_resources, @project) %>
  <p><%= link_to l("bx.label.branch.new"), new_project_bx_category_branch_path(@project, @category), :class => 'icon icon-add' %></p>
<% end %>
</div>

<div class="bx_category_box">
  <%= bx_category_title("bx.label.history.list") %>
<% if @category.histories.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% @category.histories.each do |history| %>
  <div class="bx_history">
    <dl class="bx_infomations">
      <dt><%= l("bx.label.history.changed_by") %> :</dt>
      <dd><%= link_to_user(history.changed_user) %></dd>
      <dt><%= l("bx.label.history.changed_at") %> :</dt>
      <dd><%= format_time(history.changed_at) %></dd>
      <dt><%= l("bx.label.history.operation") %> :</dt>
      <dd><%= l("bx.label.history.operations.#{history.operation}", :key => history.key) %><%= bx_history_details_link(history) %></dd>
    </dl>
    <div class="bx_history_details">
      TODO:
    </div>
  </div>
  </dl>
  <% end %>
  </table>
<% end %>
</div>
