<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="bx-content-box">
  <% if User.current.allowed_to?(:manage_bx_resource_nodes, @project) %>
    <div class="contextual">
      <%= link_to l("bx.label.resource.add"), new_project_bx_resource_path(@project, :category_id => @category), :class => 'icon icon-duplicate' %>
      <%= link_to l(:button_edit), edit_project_bx_category_path(@project, @category), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
      <%= delete_link project_bx_category_path(@project, @category) %>
    </div>
  <% end %>
  <%= bx_content_title("bx.label.category.information") %>
  <table class="bx-informations">
    <tr>
      <th><%= l("bx.label.category.name") %> :</th>
      <td><%= @category.name %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.category.description") %> :</th>
      <td><%= hbr(@category.description) %></td>
    </tr>
  </table>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.branch.list") %>
<% if @category.branches.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l("bx.label.branch.code") %></th>
        <th><%= l("bx.label.branch.name") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <% @category.branches.each do |branch| %>
      <tr>
        <td><%= branch.code %></td>
        <td><%= branch.name %></td>
        <td>
          <div class="contextual">
    <% if User.current.allowed_to?(:manage_bx_resource_nodes, @project) %>
          <%= link_to l(:button_edit), edit_project_bx_branch_path(@project, branch), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
          <%= delete_link project_bx_branch_path(@project, branch) %>
    <% end %>
          </div>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
<% if User.current.allowed_to?(:manage_bx_resource_nodes, @project) %>
  <p><%= link_to l("bx.label.branch.new"), new_project_bx_category_branch_path(@project, @category), :class => 'icon icon-add' %></p>
<% end %>
</div>

<%= render :partial => "bx_histories/list", :locals => { :histories => @category.histories } %>
