<%# coding: utf-8 %>
<%= f.hidden_field :lock_version %>
<div class="box tabular">
  <p><%= f.text_field :name, :label => bx_form_label(form, "name"), :required => true %></p>
  <p><%= f.select :database_id, databases.map { |db| [db.name, db.id] }, :label => bx_form_label(form, "database_id"), :required => true, :include_blank => true %></p>
  <p>
    <label for="data_types"><%= bx_form_label(form, "data_types") %></label>
  <% databases.each do |database| %>
    <ul id="bx_data_types_<%= database.id %>" class="bx-data-types">
    <% database.data_types.each do |data_type| %>
      <li>
        <%= check_box_tag "form[data_types][]", data_type.id, false, { :id => "form_data_types_#{data_type.id}", "data-default-checked" => data_type.default_use? } %>
        <%= label_tag "form_data_types_#{data_type.id}", data_type.name, :class => "inline" %>
     </li>
    <% end %>
    </ul>
  <% end %>
  </p>
  <p><%= f.text_area :description, :label => bx_form_label(form, "description"), :size => "80x5" %></p>
  <p><%= f.text_field :relational_issues, :label => l("bx.label.relational_issues") %></p>
</div>


