<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="bx-content-box">
  <% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
    <div class="contextual">
    </div>
  <% end %>
  <%= bx_content_title("bx.label.table_group.information") %>
  <table class="bx-informations">
    <tr>
      <th><%= l("bx.label.table_group.name") %> :</th>
      <td><%= @table_group.name %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.table_group.description") %> :</th>
      <td><%= hbr(@table_group.description) %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.table_group.database") %> :</th>
      <td><%= @table_group.database.name %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.table_group.data_types") %> :</th>
      <td><%= @table_group.data_types.map(&:name).join(", ") %></td>
    </tr>
  </table>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.common_column_def.list") %>
<% if @table_group.common_column_defs.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="bx-grid">
    <thead>
      <tr>
        <th><%= l("bx.label.common_column_def.physical_name") %></th>
        <th><%= l("bx.label.common_column_def.logical_name") %></th>
        <th><%= l("bx.label.common_column_def.data_type") %></th>
        <th><%= l("bx.label.common_column_def.size") %></th>
        <th><%= l("bx.label.common_column_def.scale") %></th>
        <th><%= l("bx.label.common_column_def.nullable") %></th>
        <th><%= l("bx.label.common_column_def.default_value") %></th>
        <th><%= l("bx.label.common_column_def.primary_key_number") %></th>
        <th><%= l("bx.label.common_column_def.position_type") %></th>
        <th><%= l("bx.label.common_column_def.note") %></th>
  <% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
        <th class="bx-reorder-column">&nbsp;</th>
        <th class="bx-command-column">&nbsp;</th>
  <% end %>
      </tr>
    </thead>
    <tbody>
  <% @table_group.common_column_defs.each do |common_column_def| %>
      <tr>
        <td><%= common_column_def.physical_name %></td>
        <td><%= common_column_def.logical_name %></td>
        <td><%= common_column_def.data_type.name %></td>
        <td class="bx-number-cell"><%= common_column_def.size %></td>
        <td class="bx-number-cell"><%= common_column_def.scale %></td>
        <td class="bx-icon-cell"><%= image_tag "#{common_column_def.nullable}.png" %></td>
        <td><%= common_column_def.default_value %></td>
        <td class="bx-number-cell"><%= common_column_def.primary_key_number %></td>
        <td><%= common_column_def.position_type %></td>
        <td><%= bx_note(common_column_def.note) %></td>
    <% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
        <td>
      <% if common_column_def.can_up? %>
          <%= link_to("", up_project_bx_common_column_def_path(@project, common_column_def), :method => :put, :class => "icon bx-reorder-up") %>
      <% else %>
          <span class="bx-reorder-disable"></span>
      <% end %>
      <% if common_column_def.can_down? %>
          <%= link_to("", down_project_bx_common_column_def_path(@project, common_column_def), :method => :put, :class => "icon bx-reorder-down") %>
      <% else %>
          <span class="bx-reorder-disable"></span>
      <% end %>
        </td>
        <td>
          <%= link_to l(:button_edit), edit_project_bx_common_column_def_path(@project, common_column_def), :class => 'icon icon-edit' %>
          <%= delete_link project_bx_common_column_def_path(@project, common_column_def) %>
        </td>
    <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
  <div id="bx_note_dialog" class="bx-note-dialog"></div>
<% end %>
<% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
  <p><%= link_to l("bx.label.common_column_def.new"), new_project_bx_table_group_common_column_def_path(@project, @table_group), :class => 'icon icon-add' %></p>
<% end %>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.table_def.list") %>
<% if @table_group.table_defs.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => "bx_table_defs/list", :locals => { :table_defs => @table_group.table_defs } %>
<% end %>
<% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
  <p><%= link_to l("bx.label.table_def.new"), new_project_bx_table_group_table_def_path(@project, @table_group), :class => 'icon icon-add' %></p>
<% end %>
</div>

<%= render :partial => "bx_histories/list", :locals => { :histories => @table_group.histories } %>
