<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="bx-content-box">
  <% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
    <div class="contextual">
    </div>
  <% end %>
  <%= bx_content_title("bx.label.table_group.information") %>
  <dl class="bx-informations">
    <dt><%= l("bx.label.table_group.name") %> :</dt>
    <dd><%= @table_group.name %></dd>
    <dt><%= l("bx.label.table_group.description") %> :</dt>
    <dd><%= hbr(@table_group.description) %></dd>
    <dt><%= l("bx.label.table_group.database") %> :</dt>
    <dd><%= @table_group.database.name %></dd>
    <dt><%= l("bx.label.table_group.data_types") %> :</dt>
    <dd><%= @table_group.data_types.map(&:name).join(",") %></dd>
  </dl>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.common_column_def.list") %>
<% if @table_group.common_column_defs.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<% end %>
<% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
  <p><%= link_to l("bx.label.common_column_def.new"), new_project_bx_table_group_common_column_def_path(@project, @table_group), :class => 'icon icon-add' %></p>
<% end %>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.table_def.list") %>
<% if @table_group.table_defs.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<% end %>
<% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
  <p><%= link_to l("bx.label.table_def.new"), new_project_bx_table_group_table_def_path(@project, @table_group), :class => 'icon icon-add' %></p>
<% end %>
</div>

<%= render :partial => "bx_histories/list", :locals => { :histories => @table_group.histories } %>
