<%# coding: utf-8 %>
<%= f.hidden_field :lock_version %>
<div class="box tabular">
  <p><%= f.text_field :physical_name, :label => bx_form_label(form, :physical_name), :required => true %></p>
  <p><%= f.text_field :logical_name, :label => bx_form_label(form, :logical_name) %></p>
<% if common_column_defs.present? %>
  <p>
    <label for="using_common_column_defs"><%= bx_form_label(form, "using_common_column_defs") %></label>
    <ul class="bx-labelled-list">
    <% common_column_defs.each do |common_column_def| %>
      <li>
        <%= check_box_tag "form[using_common_column_defs][]", common_column_def.id, true, { :id => "from_using_common_column_defs_#{common_column_def.id}" } %>
        <%= label_tag "from_using_common_column_defs_#{common_column_def.id}", "#{common_column_def.physical_name} (#{common_column_def.logical_name})", :class => "inline" %>
     </li>
    <% end %>
    </ul>
  </p>
<% end %>
  <p><%= f.text_area :description, :label => bx_form_label(form, :description), :size => "80x5" %></p>
  <p><%= f.text_field :relational_issues, :label => l("bx.label.relational_issues") %></p>
</div>


