<%= bx_title("table_def") %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
<% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
  <p><%= link_to l("bx.label.table_group.new"), new_project_bx_table_group_path(@project), :class => 'icon icon-add' %></p>
<% end %>
<% if @table_groups.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% @table_groups.each do |table_group| %>
  <div class="bx-category">
    <%= link_to table_group.name, project_bx_table_group_path(@project, table_group) %>
  </div>
    <% if table_group.table_defs.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
  <p class="bx-table-defs">
    <%= render :partial => "bx_table_defs/list", :locals => { :table_defs => table_group.table_defs } %>
  </p>
    <% end %>
  <% end %>
<% end %>
<% if User.current.allowed_to?(:manage_bx_table_defs, @project) %>
  <p><%= link_to l("bx.label.table_group.new"), new_project_bx_table_group_path(@project), :class => 'icon icon-add' %></p>
<% end %>
</div>
