<%= bx_title("common_column_def", "edit") %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
  <%= error_messages_for @form %>
  <%= labelled_form_for :form, @form, :url => project_bx_common_column_def_path(@project, @common_column_def), :method => :put do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :form => @form, :data_types => @common_column_def.table_group.data_types } %>
    <%= f.submit l(:button_update) %>
    <%= link_to l(:button_cancel), project_bx_table_group_path(@project, @common_column_def.table_group_id) %>
  <% end %>
</div>
