<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
  <%= error_messages_for @form %>
  <%= labelled_form_for :form, @form, :url => project_bx_table_def_column_defs_path(@project, @table_def) do |f| %>
    <%= render :partial => "form", :locals => { :f => f,
                                                :form => @form,
                                                :data_types => @table_def.table_group.data_types,
                                                :table_defs => @table_defs } %>
    <%= f.submit l(:button_create) %>
    <%= link_to l(:button_cancel), project_bx_table_def_path(@project, @table_def) %>
  <% end %>
</div>
