<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="bx_category_box">
  <%= bx_category_title("bx.label.resource_base_info") %>
  <dl id="bx_resource_base_info">
    <dt><%= l("bx.label.resource_summary") %> :</dt>
    <dd><%= @resource.summary %></dd>
    <dt><%= l("bx.label.resource_path") %> :</dt>
    <dd><%= @resource.path(":", true) %></dd>
  </dl>
</div>

<div class="bx_category_box">
  <%= bx_category_title("bx.label.branches") %>
<% if @resource.branches.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l("bx.label.branch_code") %></th>
        <th><%= l("bx.label.branch_name") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <% @resource.branches.each do |branch| %>
      <tr>
        <td><%= branch.code %></td>
        <td><%= branch.name %></td>
        <td>
          <div class="contextual">
    <% if User.current.allowed_to?(:bx_manage_resources, @project) %>
          <%= link_to l(:button_edit), edit_project_bx_branch_path(@project, branch), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
          <%= delete_link project_bx_branch_path(@project, branch) %>
    <% end %>
          </div>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
<% if User.current.allowed_to?(:bx_manage_resources, @project) %>
  <p><%= link_to l("bx.label.new_branch"), new_project_bx_resource_branch_path(@project, @resource), :class => 'icon icon-add' %></p>
<% end %>
</div>

<div class="bx_category_box">
  <%= bx_category_title("bx.label.histories") %>
<% if @resource.histories.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% @resource.histories.each do |history| %>
    <%= history.operation %>
  <% end %>
<% end %>
</div>
