<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
<% if User.current.allowed_to?(:bx_manage_resources, @project) %>
  <p><%= link_to l("bx.label.new_resource"), new_project_bx_root_resource_path(@project), :class => 'icon icon-add' %></p>
<% end %>
<% roots = BxResourceNode.roots(@project) %>
<% if roots.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <ul>
    <% roots.each do |root| %>
    <li><%= link_to root.summary, project_bx_root_resource_path(@project, root) %></li>
    <% end %>
  </ul>
<% end %>
<% if User.current.allowed_to?(:bx_manage_resources, @project) %>
  <p><%= link_to l("bx.label.new_resource"), new_project_bx_root_resource_path(@project), :class => 'icon icon-add' %></p>
<% end %>
</div>
