<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
<% if User.current.allowed_to?(:bx_manage_resources, @project) %>
  <p><%= link_to l("bx.label.category.new"), new_project_bx_category_path(@project), :class => 'icon icon-add' %></p>
<% end %>
<% categories = BxResourceCategory.where(:project_id => @project.id) %>
<% if categories.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% categories.each do |category| %>
    <div class="bx-category">
      <%= link_to category.name, project_bx_category_path(@project, category) %>
    </div>
    <%= render :partial => "bx_resources/tree", :locals => { :resources => category.resources } %>
  <% end %>
<% end %>
<% if User.current.allowed_to?(:bx_manage_resources, @project) %>
  <p><%= link_to l("bx.label.category.new"), new_project_bx_category_path(@project), :class => 'icon icon-add' %></p>
<% end %>
</div>
