<%= bx_title("resource", "show") %>

<%= bx_tabs params[:tab] %>

<div class="bx-content-box">
  <% if User.current.allowed_to?(:manage_bx_resource_nodes, @project) %>
    <div class="contextual">
      <%= link_to l("bx.label.resource.add"), new_project_bx_resource_path(@project, :parent_id => @resource), :class => 'icon icon-duplicate' %>
      <%= link_to l(:button_edit), edit_project_bx_resource_path(@project, @resource), :class => 'icon icon-edit' %>
      <%= delete_link project_bx_resource_path(@project, @resource) %>
    </div>
  <% end %>
  <%= bx_content_title("bx.label.resource.information") %>
  <table class="bx-informations">
    <tr>
      <th><%= l("bx.label.resource.category") %> :</th>
      <td><%= @resource.category.name %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.resource.code") %> :</th>
      <td><%= @resource.code %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.resource.path") %> :</th>
      <td><%= @resource.default_path %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.resource.route") %> :</th>
      <td><%= bx_resource_route(@resource) %></td>
    </tr>
    <tr>
      <th><%= l("bx.label.resource.summary") %> :</th>
      <td><%= @resource.summary %></td>
    </tr>
  </table>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.resource.values") %>
  <table class="bx-resource-values">
  <% @resource.branches.each do |branch| %>
    <tr>
      <th><%= "#{branch.name} [#{branch.code}]" %> :</th>
      <td><%= hbr(@resource.value(branch) || "&nbsp;".html_safe) %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="bx-content-box">
  <%= bx_content_title("bx.label.resource.children") %>
<% if @resource.children.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div class="bx-resources">
    <%= render :partial => "bx_resources/tree", :locals => { :resources => @resource.descendants } %>
  </div>
<% end %>
</div>

<%= render :partial => "bx_histories/list", :locals => { :histories => @resource.histories } %>
