<%# coding: utf-8 %>
<%= bx_title %>

<%= bx_tabs params[:tab] %>

<div class="bx-content-box">
  <% if User.current.allowed_to?(:bx_manage_resources, @project) %>
    <div class="contextual">
      <%= link_to l("bx.label.resource.add"), new_project_bx_resource_path(@project, :parent_id => @resource), :class => 'icon icon-duplicate' %>
      <%= link_to l(:button_edit), edit_project_bx_resource_path(@project, @resource), :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
      <%= delete_link project_bx_resource_path(@project, @resource) %>
    </div>
  <% end %>
  <%= bx_category_title("bx.label.resource.information") %>
  <dl class="bx-informations">
    <dt><%= l("bx.label.resource.category") %> :</dt>
    <dd><%= @resource.category.name %></dd>
    <dt><%= l("bx.label.resource.code") %> :</dt>
    <dd><%= @resource.code %></dd>
    <dt><%= l("bx.label.resource.path") %> :</dt>
    <dd><%= @resource.path(":") %></dd>
    <dt><%= l("bx.label.resource.summary") %> :</dt>
    <dd><%= @resource.summary %></dd>
  </dl>
</div>

<div class="bx-content-box">
  <%= bx_category_title("bx.label.resource.values") %>
  <dl class="bx-informations">
  <% @resource.branches.each do |branch| %>
    <dt><%= "#{branch.name} [#{branch.code}]" %> :</dt>
    <dd><%= hbr(@resource.value(branch) || "&nbsp;".html_safe) %></dd>
  <% end %>
  </dl>
</div>

<div class="bx-content-box">
  <%= bx_category_title("bx.label.resource.children") %>
  <div class="bx-resources">
<% if @resource.children.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <%= render :partial => "bx_resources/tree", :locals => { :resources => @resource.children } %>
<% end %>
  </div>
</div>

<%= render :partial => "bx_histories/list", :locals => { :histories => @resource.histories } %>
