<%= bx_title("index_def", "new") %>

<%= bx_tabs params[:tab] %>

<div class="tab-content">
  <%= error_messages_for @form %>
  <%= labelled_form_for :form, @form, :url => project_bx_table_def_index_defs_path(@project, @table_def) do |f| %>
    <%= render :partial => "form", :locals => { :f => f,
                                                :form => @form,
                                                :column_defs => @table_def.column_defs } %>
    <%= f.submit l(:button_create) %>
    <%= link_to l(:button_cancel), project_bx_table_def_path(@project, @table_def) %>
  <% end %>
</div>
<div id="bx_note_dialog" class="bx-note-dialog"></div>
