<%# coding: utf-8 %>
<div class="bx-content-box">
  <%= bx_content_title("bx.label.history.list") %>
<% if histories.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% histories.each do |history| %>
  <div class="bx-history">
    <table class="bx-informations">
      </tr>
      <tr>
        <th><%= l("bx.label.history.changed_by") %> :</th>
        <td><%= link_to_user(history.changed_user) %></td>
      </tr>
      <tr>
        <th><%= l("bx.label.history.changed_at") %> :</th>
        <td><%= format_time(history.changed_at) %></td>
      </tr>
      <tr>
        <th><%= l("bx.label.history.operation") %> :</th>
        <td><%= l("bx.text.history_operations.#{history.operation}", :key => history.key) %></td>
      </tr>
    <% if history.operation_type != "delete" %>
      <tr>
        <th><%= l("bx.label.history.details") %> :</th>
        <td>
          <ul>
      <% history.details.each do |detail| %>
            <li><%= bx_history_details_note(history, detail) %></li>
      <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <% if history.issues.present? %>
      <tr>
        <th><%= l("bx.label.relational_issues") %> :</th>
        <td>
          <ul>
      <% history.issues.each do |issue| %>
            <li><%= link_to_issue(issue) %></li>
      <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
    <% if histories.last != history %>
  <hr/>
    <% end %>
  <% end %>
<% end %>
</div>

